<%- include('partials/header'); %>
    <main>
        <section class="hero">
            <div class="container">
                <div class="content">
                    <h2>Nuevos productos disponibles</h2>
                    <div class="margin1"></div>
                    <p>Un pequeño lote de increíbles productos acaba de llegar.
                        Agrega tus favoritos al carrito antes que se agoten.
                    </p>
                    <div class="margin2"></div>
                    <button class="btn btn-primary btn-lg">Comprar ahora</button>
                </div>
            </div>
        </section>
        <!-- BEM: Bloque, Elementos, Modificador -->
        <section class="categories container">
            <div class="categories__intro">
                <h2 class="categories__title">Compra por categoría</h2>
                <p class="categories__description">
                    Explora nuestra selección de productos especialmente diseñados para
                    desarrolladores web. Encuentra lo que buscas navegando por nuestras
                    categorías de polos, tazas, stickers y más.
                </p>
            </div>
            <div class="categories__content">
            <% categories.forEach((category) => { %>
                <a href="/categories/<%= category.id %>">
                    <div class="category">
                
                    <img
                        class="category__image"
                        src="<%= category.imagePath %>"
                        alt="Una persona modelando un polo azul"
                    />
                    <h3 class="category__title"><%= category.name %></h3>
                    <p class="category__description">
                        <%= category.description %>
                        lucir. Ideales para llevar el código a donde vayas.
                    </p>
                    </div>
                </a>
                
            <% }) %>
            
            
            </div>
        </section>
        
        <section class="promise">
          <div class="container">
        <h2 style="text-align: center; margin-bottom: 50px; font-size: 2rem; font-weight: 800;">
            Nuestra Promesa de Calidad
        </h2>
    <div class="container promise-grid">

      <div class="promise-item">
         <img src="/images/Delivery.png" alt="entrega rápida">
        <h3 class="promise__title">Entrega rápida</h3>
        <p class="promise__text">
          Recibe tus productos en tiempo récord, directo a tu puerta.
        </p>
      </div>

      <div class="promise-item">
        <img src="/images/Satisfacción.png" alt="Satisfacción">
        <h3 class="promise__title">Satisfacción Garantizada</h3>
        <p class="promise__text">
          Si no estás 100% satisfecho, estamos aquí para ayudarte.
        </p>
      </div>

      <div class="promise-item">
        <img src="/images/Calidad.png" alt="Calidad">
        <h3 class="promise__title">Materiales de Alta Calidad</h3>
        <p class="promise__text">
          Productos hechos con materiales premium y duraderos.
        </p>
      </div>

      <div class="promise-item">
        <img src="/images/Diseño.png" alt="Diseño">
        <h3 class="promise__title">Diseños Exclusivos</h3>
        <p class="promise__text">
          Diseños pensados para desarrolladores, únicos y originales.
        </p>
      </div>

    </div>
  </section>

    </main>
<%- include('partials/footer'); %>