<%- include('partials/header'); %>
<main class="container"> <div class="product-expanded">
    <div class="product__image-bg"> <img src="<%=product.imagePath%>" alt="<%=product.imageDescription%>" />
    </div>
    
    <div class="product__info">
      <h2 class="product__title"><%=product.name%></h2>
      <p class="product__price">$<%=product.price%></p>
      <p class="product__description"><%=product.description%></p>
      
      <form action="/cart/add/<%=product.id%>" method="post">
        <button class="btn-primary">Agregar al Carrito</button> </form>
      
      <div class="product__features-section">
        <p class="features-label">Características</p> <ul class="features-list">
          <li>Estampado resistente que mantiene sus colores vibrantes lavado tras lavado.</li>
          <li>Hecho de algodón suave que asegura comodidad y frescura.</li>
          <li>Costuras reforzadas para una mayor durabilidad.</li>
          <li>Corte moderno que se adapta perfectamente al cuerpo.</li>
        </ul>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer'); %>